@model IEnumerable<CTW_FIA.Models.Dto.QuickSearchModel>
@{
    string STRUN = "99";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table-responsive {
        max-height: 650px;
    }
</style>
<style>
    .table-responsive {
        max-height: 650px;
    }
</style>


<div class="row no-gutters">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card ">
            <input id="searchval" value="@ViewBag.searchval" hidden />
            <div id="exptopdf" class="pdfpage" style="background: #FFFFFF;">

                <div class="d-flex p-2 bg-gradient-primary justify-content-center"><b>@ViewData["Title"]</b></div>
                <br />
                <table id="SearchGenericTable" class="table table-bordered text-dark"> 
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="Tblbody">
   
                    </tbody>
                </table>


            </div>
        </div>
    </div>
  @*  @Html.Partial("DisplayLinksRecord")*@



</div>
<style>
    .floating-buttons {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
@if (!string.IsNullOrEmpty(ViewBag.RedirectUrl))
{
    <script>
        // Show a dialog box with the success message
        alert('Update was successful!');
        // Redirect after user acknowledgment
        window.location.href = '@ViewBag.RedirectUrl';
    </script>
}


















<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

<!-- Include DataTables Buttons CSS and JavaScript -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>

<!-- Include DataTables Responsive CSS and JavaScript -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script>
    // Initialize DataTable
    var sourcearray = @Html.Raw(Json.Serialize(Model));
    $(document).ready(function () {
   
         searchrec();
    });
    function searchrec()
    {



        var modelList = sourcearray;
        var groupedByTableName = {};
        if (sourcearray.length > 0) {

            $.each(modelList, function (index, model) {
                var tableName = model.tableName;
                if (!groupedByTableName[tableName]) {
                    groupedByTableName[tableName] = {
                        count: 0,
                        models: []
                    };
                }
                groupedByTableName[tableName].count++;
                groupedByTableName[tableName].models.push(model);
            });
            $('#leftnavbar').hide();

            for (let tableName in groupedByTableName) {
                let tableGroup = groupedByTableName[tableName];
                $('.sidebar nav .nav-pills').append(
                    '<li class="nav-item"> <a href="#" class="nav-link">   <span class="badge badge-info">' +
                    tableGroup.count + '</span> &nbsp <p class="year">' + tableName +
                    '<i class="fas fa-angle-left right" aria-hidden="true"></i></p> </a> <ul class="nav nav-treeview" id="' + tableName + '"></ul>');
                for (var x = 0; x < tableGroup.models.length; x++) {
                    if (tableGroup.models[x].tableName == tableName)
                        $('#' + tableName).append("<li class='nav-item'><button class='btn btn-default btn-block text-left' onclick='yourFunction(\"" + tableName + "\", \"" + tableGroup.models[x].strUrn + "\")'>" + tableGroup.models[x].strUrn + "</button></li>");

                }




            }

        }

    }
    function yourFunction(tableName, strUrn) {
        var dataTable = $('#SearchGenericTable').DataTable(
        {
                paging: false, // Enable pagination
                searching: true, // Enable global search
                ordering: false, // Enable column sorting
                info: false, // Display information about the table (e.g., "Showing x to y of z entries")
                lengthChange: true, // Allow users to change the number of rows per page
                dom: 'Bfrtip', // Enable DataTables Buttons extension
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print', 'delete'], // Available export formats
                responsive: true, // Enable responsive design for different screen sizes
                columnDefs: [
                    { responsivePriority: 1, targets: 0 }, // Example: Define responsive priorities for columns
                ],
                language: {
                    url: '' // Load language file
                }
        }
        );
        $('.spinner').css('display', 'block');
        $('#Tblbody').empty();
          $.ajax({
            type: "GET",
            url: "/Record/RecordDetailsforQuick",
            data: { STRUN: strUrn, modelname: tableName },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) 
            {
                
                for(var i=0;i<response.length;i++)
                {
                    var rowData = [
                        response[i].propertName,
                        response[i].propertValue
         
                    ];
                    dataTable.row.add(rowData).draw();

                   // $('#Tblbody').html('<tr><td>' + response[i].propertName + '</td><td>' + response[i].propertValue + '</td></tr>');

                }
                $('.spinner').css('display', 'none');
         
            },
            error: function (response) {
                alert("error");
            }
        });


    }
    $(document).ready(function () {
        //$('#SearchGenericTable').DataTable({

        //});
    });
</script>


