
@{
    ViewData["Title"] = "AddRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row no-gutters text-dark">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                @* <h4 class="card-title">Add Record</h4>*@

                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="ForwardLocking" class="col-sm-3 col-form-label">Select Databases</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="database">
                      @*          @if (ViewBag.data.Count != 0)
                                {
                                    <option value="Select">Select</option>
                                }

                                @for (var i = 0; i < ViewBag.data.Count; i++)
                                {
                                    <option value="@ViewBag.data[i].TableName">@ViewBag.data[i].TableName</option>
                                }
                                @if (ViewBag.data.Count == 0)
                                {
                                    <option selected value="Select">You have no access to Add Record</option>
                                }*@

                                <option value="Select">Select</option>
                                <option value="MainIncident">Terrorist Incident</option>
                                <option value="PersonInvolved">Terrorist Involved</option>
                                <option value="Addresses">Addresses</option>
                                <option value="Groups">Terrorist Groups</option>
                                <option value="Vehicle">Vehicles</option>
                                <option value="Communication">Communications</option>
                                <option value="Detonators">Detonators</option>
                                <option value="Explosives">Explosives</option>
                                <option value="Ordinance">Ordnance</option>
                                <option value="Evidence">Evidence</option>
                                <option value="Equipment">Equipment</option>
                                <option value="InitiationSystem">Initiation System</option>
                                <option value="Components">Components</option>
                                <option value="CBRN">CBRN</option>
                                <option value="Firearms">Firearms</option>
                                <option value="BankAccount">Bank Account</option>
                                <option value="Property">Properties</option>
                                <option value="Chemical"> Chemical</option>
                                <option value="PowerSource"> Power Source</option>

                            </select>
                        </div>
                    </div>
                    <input value="@ViewBag.pagename" id="pagename" hidden  />
                    <input value="@ViewBag.pagstatus" id="pagestatus" hidden />
                </form>
            </div>
        </div>
    </div>
    @*<div class="col-md-3 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
    <h4 class="card-title">Matched Records</h4>
    <p class="card-description" style="font-size: 12px;">No data to display</p>

    </div>
    </div>
    </div>*@
</div>

<div id="DivContainerForCustForm">
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if($('#pagestatus').val()=="Updated")
            {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Record Successfully added',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
            $("#database").change(function () {
                $('.spinner').css('display', 'block');
             
                if(selectedValue !="Select")
                {
                    var selectedValue = $("#database").val();
                    switch (selectedValue) {
                        case "MainIncident":
                            $("#DivContainerForCustForm").load("@Url.Action("NewIncident","incidents")");
                            $('.spinner').css('display', 'none');
                            break;

                        case "PersonInvolved":
                            $("#DivContainerForCustForm").load("@Url.Action("AddPerson","Person")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Groups":
                            $("#DivContainerForCustForm").load("@Url.Action("Groups","Terrorists")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Addresses":
                            $("#DivContainerForCustForm").load("@Url.Action("Add_Person_Address","Record")");
                             $('.spinner').css('display', 'none');
                            break;
                        case "Vehicle":
                            $("#DivContainerForCustForm").load("@Url.Action("Vehicles","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Communication":
                            $("#DivContainerForCustForm").load("@Url.Action("Communications","Record")");
                            break;
                        case "Detonators":
                            $("#DivContainerForCustForm").load("@Url.Action("Detonators","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Explosives":
                            $("#DivContainerForCustForm").load("@Url.Action("Explosives","Explosives")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Ordinance":
                            $("#DivContainerForCustForm").load("@Url.Action("Ordinance","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Evidence":
                            $("#DivContainerForCustForm").load("@Url.Action("Evidence","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Equipment":
                            $("#DivContainerForCustForm").load("@Url.Action("Equipment","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "InitiationSystem":
                            $("#DivContainerForCustForm").load("@Url.Action("InitiationSystem","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Components":
                            $("#DivContainerForCustForm").load("@Url.Action("Components","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "CBRN":
                            $("#DivContainerForCustForm").load("@Url.Action("CBRN","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Property":
                            $("#DivContainerForCustForm").load("@Url.Action("Property","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "BankAccount":
                            $("#DivContainerForCustForm").load("@Url.Action("BankAccount","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Firearms":
                            $("#DivContainerForCustForm").load("@Url.Action("Firearms","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "Chemical":
                            $("#DivContainerForCustForm").load("@Url.Action("Chemical","Record")");
                            $('.spinner').css('display', 'none');
                            break;
                        case "PowerSource":
                            $("#DivContainerForCustForm").load("@Url.Action("AddPowerSource","PowerSource")");

                            $('.spinner').css('display', 'none'); break;
                        default:
                            $("#DivContainerForCustForm").empty();
                            $('.spinner').css('display', 'none');
                            break;
                    }
                }
             
            });
        });
    </script>
}
