@model CTW_FIA.Models.Dto.PreviewIncidentByStrUrn

@{
    ViewData["Title"] = "IncidentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IncidentDetails</h1>

<div>
    <h4>PreviewIncidentByStrUrn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stringid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stringid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strURN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strURN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strOperationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strOperationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberKilled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberKilled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberInjured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberInjured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inc_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inc_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.US)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.US)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliceStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliceStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncidentTimeEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncidentTimeEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InjuredName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InjuredName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasualtiesNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasualtiesNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuicideBomb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuicideBomb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CTWRemarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CTWRemarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Target)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Target)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recoveries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recoveries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrimeSceneRecoveries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrimeSceneRecoveries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strCaseProgress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strCaseProgress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weapon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weapon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModusofOperandi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModusofOperandi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dteSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dteSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberArrested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberArrested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreIncidentThread)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreIncidentThread)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reportedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reportedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tableName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tableName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.textSearch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.textSearch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INC_FirNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INC_FirNo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
